* {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 22px;
}

.wrapper button{
    padding: 10px 20px;
    /* border: 1px solid #333; */
    background-color: #cdcdcd;
    color: #333;
    font-weight: 100;
}

.accordian {
    width: 500px;
}

.item {
    background: #cdcdcd;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.title {
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content {
    color: #333;
    height: auto;
}

